*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin: 8px;
}

* {
  font-size: 1em;
  
}
.hidden
{
	display: none;
}

/* Computer / Responsive */
@media only screen and (min-width: 1024px) {
  .ui.modal {
    width: 80%;
    margin-left: -40%%;
  }
}

#tabela_de_dados{
  font-size: 18px !important;
}

#tabela_de_dados > tbody{
  text-align: center;
}

a{
  cursor: pointer;
}


.link-ativo{
  color: red !important;
}


.ui.form input[type="week"] {
  margin: 0em;
  padding: 0.40em 1em;
  font-size: 1em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3125em;
  -webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans' !important;
}

.ui.selection.dropdown {
  cursor: pointer;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  background-color: #FFFFFF;
  padding: 0.60em 1em;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.3125em !important;
}

.ui.grid > .apptoppanelcolumn {
  margin-top: 1.0 rem;
  margin-bottom: -1 rem;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}


/*TESTE: ; */
.ui.menu .dropdown.item .menu .itemmenuhorizontal {
	display: inline;
	width: 35%;
	backgound-border: ffffff;
	border-top: none;
	font-family: 'Open Sans' !important;
	
}

div .menu .barramenuhorizontal{
	margin-top:2px;
	padding: 18px;
	font-family: 'Open Sans' !important;
}

.none {
  display: none;
}

.block {
  display: block;
}


.true {
  display: block;
}
.false {
 display: none;
}
    
   
.none{
 display: none;
}  
        
.block{
  display: flex;
}

.ativo{
  background: rgba(0, 0, 0, 0.05) !important;
}

#barra-de-menu-principal {
 margin-bottom: 0px;
 font-family: 'Open Sans' !important;
 box-shadow: none !important;
}

#modulos,#sessao {
  margin-top: 0px;
  font-family: 'Open Sans' !important;
}

/***************************************************************/



.submenu{
  font-family: 'Open Sans' !important;
  background: #FAFAFA !important;
  font-size: 1em !important;
  border-radius: 0px 2px 2px 0px !important;
  border-top: 0px !important;
  box-shadow: none !important;
  font-family: 'Open Sans' !important;
}
            
.item{
  border: 0px !important;
  marign: 0px !important;
  font-family: 'Open Sans' !important;
}

#pesquisa{
  margin: 0px !important;
}
            
.active{
  background: #FAFAFA !important;
}

            
            
.ui.label{
 font-size: 0.9em;
}
            
.divMenuDados{
   width: auto !important;
   font-family: 'Open Sans' !important;
} 

#grupo-de-dados {
  width : 100% !important;
  font-family: 'Open Sans' !important;
}

.sessao-de-dados {
  width: 100%;
}

.three.wide.column {
  width : 20% !important;
  font-family: 'Open Sans' !important;
}

input{
  font-family: 'Open Sans' !important;
}

.button{
  font-weight: bold !important;
}

.label{
  font-family: 'Open Sans' !important;
}

.header{
  font-family: 'Open Sans' !important;
}

.twelve.wide.column {
  width : 80% !important;
  font-family: 'Open Sans' !important;
}

.ui.menu .item:before {
  width: 0px !important;
  font-family: 'Open Sans' !important;
}