<!DOCTYPE html>
<html class="no-js" >
	<head>
		<meta charset="utf-8">
		<title>SGI</title>
		<meta name="description" content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
            $('.ui.dropdown').dropdown();
        </script>
        
	</head>
	<body>
    <div class="area-de-sistema" style="display: block" ng-init="area=1">
        <div class="ui segment">
            <div id="area-de-cabecalho" class="ui vertically divided grid">
                
                <div class="ten apptoppanelcolumn  row" style="margin-bottom: 0">
                    <div class="fifteen wide column" style="margin-bottom: 0;">
                       <h2 class="ui header">Prefeitura Municipal de Parnamirim</h2>
                    </div>
                </div>

                <div class="sixteen wide column" style="margin-top: 0px">
                    <div id="area-de-menu-principal" class="" style="margin-top: -5px">
                        <div id="barra-de-menu-principal" class="ui menu" style="border-radius: 2px 0px 0px 2px; font-size: 1.1em; " ng-init="">

                            <!--
                            Aba principal do sistema com título Portal Administrativo, quando clicado altera a 'class'
                            da aba selecionada atualmente e
                            -->

                            <a id="aba-do-portal-administrativo" class="item" ng-click="aba=1;tabAplicativo=false;" ng-class="{'active':aba==1}"> <i class="rss icon"></i> Portal Administrativo </a>

                            <!--
                            Aba secundária, com o nome da secretaria selecionada na página principal. Ao clicar alterna a variavel de controle da abaPrincipal
                            -->

                            <a id="aba-de-aplicativo" ng-show="AbaDeAplicativo" class="item" ng-class="{'active pointing': aba==2}" ng-click="aba=2;tabAplicativo=true;">{{uri(secretariaSelecionada)(formularioSelecionado)}}</a>


                            <div class="right menu">
                           
                                <div class="ui dropdown item" tabindex="0">
                                    {{analyst | uppercase}}, Mat. 7500
                                    <i class="dropdown icon"></i>
                                    <div class="menu" tabindex="-1">
                                        <a id="botao-de-logout-de-sessao" class="item" ng-click="logout()">
                                        <i class="sign out icon" ></i>Sair</a>
                                        <a class="item"><i class="warning sign icon"></i> Mudar Senha </a>
                                        <a class="item"><i class="comment icon"></i> Suporte </a>
                                    </div>
                                </div>
                            </div>
                        </div>

          
                        <div id="modulos" class="ui menu submenu" ng-hide="tabAplicativo" ng-init="clickado=true">
                            <div class="ui dropdown item modulo" tabindex="0">
                                <span contextmenu="secretarias">
                                    <i class="text file icon"></i>
                                    Secretarias
                                </span>
                                <i class="dropdown icon"></i>
                                
                                <!--barramenuhorizontal-->
                                <div id="aplicativos" class="ui vertical menu transition hidden" style="margin-top: 1px;" tabindex="-1">

                                    <!-- LAÇO DE REPETICAO para inserir no menu principal todas as secretarias -->
                                    <div> <!--itemmenuhorizontal-->
                                        <div class="ui simple dropdown item sessao " contextmenu="secretarias" ng-repeat="(key,value) in secretarias" tabindex="0">
                                            {{key | uppercase }}
                                            <i class="dropdown icon"></i>
                                            <div class="menu" tabindex="-1">
                                                <a class="item" ng-repeat="item in value" ng-click="trocarAba(key,item);">{{item | firstUpper }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="sessao" class="ui menu submenu" ng-show="tabAplicativo">

                            <!--
                            ng-repeat cria todos os submenus de cada secretaria, inicialmente todos estão invisíveis,
                            ficando visível apenas quando a secretaria é seleciona no menu de secretarias, através da tag
                            ng-show
                            -->
                            <div class="ui dropdown item modulo cadastro" tabindex="0">
                                Cadastro
                                <i class="icon dropdown"></i>
                                <div class="menu" tabindex="-1">
                                    <!--Inserindo os formulário de cada secretaria-->
                                    <a class="item" ng-repeat="formulario in listarFormularioDeSecretaria(secretariaSelecionada) track by $index" ng-click="selecionarFormulario(formulario);segmentos(secretariaSelecionada,formulario)">{{formulario | firstUpper}}</a>
                                </div>
                            </div>
							
							<a id="formulario" class="ui dropdown item" tabindex="0" ng-click="area=1">
                                <i class="edit icon"></i> Formulário<div class="menu" tabindex="-1"></div></a>
								
							<a id="listagem" class="item modo-de-exibicao" ng-click="area=2; renderizarTabela()">
                                <i class="list layout icon"></i>Listagem</a>

                            
                            

                            

                            <!-- MENU FIXO NO LADO DIRETO, FUTURAMENTE SERÁ ALTERADO -->
                            <div class="right menu" id="utilidades">
							
								<!-- MENU FIXO DE NOTIFICAÇÕES, FUTURAMENTE SERÁ ALTERADO -->
								<div class="ui dropdown item" tabindex="0">
									Notificações
									<i class="icon dropdown"></i>
									<div class="menu" tabindex="-1">
										<a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
										<a class="item"><i class="phone icon"></i> Número: (84) 3644 8125</a>
										<a class="item"><i class="chat icon"></i> Chamar on-line</a>
									</div>
								</div>
								
								<!-- MENU FIXO DE RELATÓRIOS, FUTURAMENTE SERÁ ALTERADO -->
								<div class="ui dropdown item" tabindex="0">
									Relatórios <i class="icon dropdown"></i>
									<div class="menu" tabindex="-1">
										<a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
										<a class="item"><i class="phone icon"></i> Número: (84) 3644 8125</a>
										<a class="item"><i class="chat icon"></i> Chamar on-line</a>
									</div>
								</div>
                                
                                
                                <a id="mapa" class="item modo-de-exibicao"><i class="map icon"></i>Mapa</a>
                            </div>
                        </div>


                        <!--
                        BLOCO DE  E FORMULARIOS COMECAM AQUI
                        -->
                        <div ng-show="mostrarForms()">
                            <!-- mostrada apenas quando o segmentView for igual a secretaria atual, segmentView é alterado aproximadamente na linha 105 desse código (está comentado)-->
                            
                            <div id="area-formulario" ng-show="area==1">
                                <!-- FORMULARIOS COMECAM AQUI -->
                                    <formulario></formulario>
                                <!-- FORMULARIOS TERMINAM AQUI -->

                                <!-- BUTOES DE CRUD -->
                                <div id="area-de-operacoes-crud" class="row">
            						<div class="one wide column">

            							<div class="large ui buttons" style="float: left;">
                                            <button-send form=formularioSelecionado secretaria=secretariaSelecionada></button-send>                                            
                                            <button-localize form=formularioSelecionado></button-send>
                                        </div>
                						<button-clean></button-clean>

            							<div style="float:left; margin-left: 15px;margin-top:5px">
                							<div class="ui red label" id="msgErroProtocolo" style="display: none">
            									<i class="warning icon"></i>OPERAÇÃO NÃO REALIZADA! CONTATE O ADMINISTRADOR DO SISTEMA
            								</div>
            								<div class="ui green label" id="msgOkProtocolo" style="display: none">
                								<i class="warning icon"></i>OPERAÇÃO REALIZADA COM SUCESSO!
             								</div>
            							</div>

                                        </div>               
                                    </div>
            					</div>
                                <!-- BUTOES DE CRUD TERMINAM AQUI -->
                            </div>
                        
                            <div id="area-listagem" ng-show="area==2">
            					<div class="ui segment">
            				
            					
            					  <div class="field" style="width: 100%">
            						<div class="ui icon input" style="width: 100%">
            						  <input type="text" id='termo-pesquisa' ng-model="search" placeholder="Termo de Pesquisa">
                                      <i class="search icon"></i>
            						</div>
            					
            						</div>

            					
                                    <!-- TABELA DE DADOS -->
                                      
                                  <table id="tabela_de_dados" onselectstart="return false" class="ui small center aligned selectable table" style="display: table;">
            						<thead>
            						  <tr><th ng-repeat="atributo in atributos"><a ng-click="setSortType(atributo)" >{{atributo}}<i ng-class="{'caret down icon':atributo==selecao && !sortReverse, 'caret up icon':atributo==selecao && sortReverse}"></i></a></th></tr>
            							</thead>
            						  <tbody style="cursor: pointer" ng-repeat="pagina in paginas" ng-show="paginaExibida==paginas.indexOf(pagina)" >
                                            
                                            <tr ng-repeat="item in pagina | filter:search | orderBy:sortType:sortReverse">
                                                <td ng-repeat="atributo in atributos">{{item[atributo.toLowerCase()]}}</td>

                                            </tr>

                                        </tbody>
            							

            						<tfoot>
                                        <tr>
                                            <th colspan="7"><div class="ui right floated pagination menu"><a ng-repeat="pagina in paginas" ng-click="exibirPagina(paginas.indexOf(pagina))" class="item page-number active">{{paginas.indexOf(pagina)+1}}</a></div></th>
                                        </tr>
                                    </tfoot>
                                </table>

                                </div>
        					</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>