<!doctype html>
<html class="no-js" ng-app="modelagem">
    <head>
        <meta charset="utf-8">
        <title>{{app}}</title>
        <meta name="description" content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="import" href="imports.html">
        <style type="text/css">
        .true {
        display: block;
        }
        .false {
        display: none;
        }
        </style>
    </head>
    <body>
        <div id="teste"></div>
        <div id="area-de-sistema" style="display: block;" ng-controller="modelagemCtrl">
            <div class="ui segment">
                <div id="area-de-cabecalho" class="ui vertically divided grid">
                    <div class="ten row">
                        <div class="ten wide column">
                            <h3 class="ui dividing header">
                            Prefeitura Municipal de Parnamirim
                            </h3>
                            <div id="area-de-menu-principal" class="ui tiered menu" style="margin-top: -5px">
                                <div id="barra-de-menu-principal" class="menu">
                                    <a id="aba-do-portal-administrativo" class="item active" ng-click="alternarAba('#sessao', '#modulos'); alternarAbaPrincipal('aba-do-portal-administrativo');"> <i class="rss icon"></i> Portal Administrativo
                                    </a>
                                    <a id="aba-de-aplicativo" class="item" ng-click="alternarAba('#modulos', '#sessao'); alternarAbaPrincipal('aba-de-aplicativo');">{{aplicativo}}</a>
                                    <div class="right menu">
                                        <div class="ui dropdown item">
                                            Julio Costa, Mat. 7500
                                            <i class="dropdown icon">
                                            </i>
                                            <div class="menu">
                                                <a id="botao-de-logout-de-sessao" class="item"><i class="sign out icon"></i>Sair</a>
                                                <a class="item"><i class="warning sign icon"></i> Mudar Senha </a>
                                                <a class="item"><i class="comment icon"></i> Suporte </a>
                                                <i class="dropdown icon">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="modulos" class="ui menu">
                                    <div class="ui dropdown item modulo">
                                        <span contextmenu="secretarias">
                                            <i class="text file icon">
                                            </i>
                                            Secretarias
                                        </span>
                                        <i class="dropdown icon">
                                        </i>
                                        <div id="aplicativos" class="menu barramenuhorizontal" style="margin-top: 1px;">
                                            <a ng-repeat="secretaria in secretarias" ng-click="mudarAbaDeAplicativo(secretaria); alternarAba('#modulos', '#sessao'); alternarAbaPrincipal('aba-de-aplicativo');"><span class="item sessao itemmenuhorizontal" contextmenu="funcionario">{{secretaria.nome | uppercase}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="sessao" class="ui sub menu none" >


                                    
                                    

                                    <div class="ui dropdown item" ng-repeat="sec in secretarias" ng-show="sec.nome==aplicativo">
                                        Cadastro
                                        <i class="icon dropdown"></i>
                                        <div class="menu">
                                            <a class="item" ng-repeat="set in sec.setor" 
                                            ng-click="mudarSegmentView(sec.nome+set.nome);">
                                                {{set.nome}}
                                            </a>
                                        </div>
                                    </div>


                                    <div class="ui dropdown item">
                                        Notificações <i class="icon dropdown"></i>
                                        <div class="menu">
                                            <a class="item">
                                            <i class="mail icon"></i> Enviar e-Mail</a>
                                            <a class="item">
                                            <i class="phone icon"></i> Número: (84) 3644 8125</a>
                                            <a class="item">
                                                s<i class="chat icon"></i> Chamar
                                            on-line</a>
                                        </div>
                                    </div>
                                    <div class="ui dropdown item">
                                        Relatórios <i class="icon dropdown"></i>
                                        <div class="menu">
                                            <a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
                                            <a class="item"><i class="phone icon"></i> Número: (84) 3644 8125</a>
                                            <a class="item"><i class="chat icon"></i> Chamar on-line</a>
                                        </div>
                                    </div>
                                    <div class="right menu" id="utilidades">
                                        <a id="formulario" class="ui dropdown item">
                                        <i class="edit icon"></i> Formulário</a>
                                        <a id="listagem" class="item modo-de-exibicao">
                                        <i class="list layout icon"></i>Listagem</a>
                                        <a id="mapa" class="item modo-de-exibicao">
                                            <i class="map icon">
                                        </i>Mapa</a>
                                    </div>
                                </div>
                                
                                
                                <!-- BLOCO DE SEGMENTOS E FORMULARIOS COMECAM AQUI -->
                                <div ng-repeat="sec in secretarias">
                                    <div class="ui celled grid" ng-repeat="set in sec.setor"
                                        ng-show="sec.nome+set.nome == segmentView">
                                        <div class="row">
                                            <div class="one wide column" >
                                                <div class="ui segiment">
                                                    <div id="grupo-de-dados" class="ui pointing vertical menu">
                                                        <!-- OS SEGMENTOS COMEÇAM AQUI -->
                                                        <a contextmenu="dados-pessoais"
                                                            ng-class="{active: seg.nome == segAct}"
                                                            class="item" ng-repeat="seg in set.segments"
                                                            ng-click="mudarSegmentAct(seg.nome); refSeg=seg"> {{seg.nome}}
                                                        </a>
                                                        <!-- OS SEGMENTOS TERMINAM AQUI -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- BLOCO DE FORMULARIOS COMECAM AQUI -->
                                            <div class="twelve wide column">
                                                <div id="dados-pessoais" class="sessao-de-dados">
                                                    <div class="ui form segment" ng-show='refSeg == seg' ng-repeat="seg in set.segments">
                                                        <div class="ui ribbon label" style="margin-bottom: 15px;">
                                                            {{seg.nome}}
                                                        </div>
                                                        <input hidden="true" name="Cidadao-id" value="" type="text">
                                                        <div class="field error {{inp.show}}" ng-repeat="inp in seg.inputs">
                                                            <div id="Cidadao-nome" class="field">
                                                                <label for="Cidadao-nome">{{inp.title}}</label>
                                                                <input name="Cidadao-nome"
                                                                type="{{inp.showAs}}" class="obrigatorio semAcentosECaracteres semEspaco semNumeros">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- BLOCO DE SEGMENTOS E FORMULARIOS TERMINAM AQUI -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/semantic.js"></script>
    <script src="js/script.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
</body>
</html>