<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Fixed top for Semantic-UI</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/angular-1.3.15/angular.js"></script>
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    <style type="text/css">
        .none {
            display: none;
        }
        .block {
            display: block;
        }
    </style>
    <script type="text/javascript">
        angular.module("modelagem", []);
        angular.module("modelagem").controller("modelagemCtrl", function ($scope) {
            $scope.app = "Modelagem de Páginas HTML";
            $scope.secretarias = [
                {nome: "SEARH", contextmenu: "funcionario"},
                {nome: "SEMUT", contextmenu: "funcionario"},
                {nome: "SESAD", contextmenu: "funcionario"},
                {nome: "SELIM", contextmenu: "funcionario"},
                {nome: "SETRA", contextmenu: "funcionario"},
                {nome: "SEPLAF", contextmenu: "funcionario"},
                {nome: "SEMAS", contextmenu: "funcionario"},
                {nome: "SEMSUR", contextmenu: "funcionario"},
                {nome: "SEMUR", contextmenu: "funcionario"},
                {nome: "SEMOP", contextmenu: "funcionario"},
                {nome: "SEMEC", contextmenu: "funcionario"},
                {nome: "SEHAB", contextmenu: "funcionario"}
            ];
            $scope.mudarAbaDeAplicativo = function (secretaria) {
                $scope.aplicativo = {nome: secretaria.nome};
                $scope.test();
            };
            $scope.test = function () {
                var myElement = angular.element(document.querySelector('#aba-de-aplicativo'));
                var otherElement = angular.element(document.querySelector('#aba-do-portal-administrativo'));
                myElement.addClass('active');
                otherElement.removeClass('active');    
            };
            $scope.alternarAba = function (elementoNone, elementoBlock, abaAdd, abaRemove) {
                var elementoA = angular.element(document.querySelector(elementoNone));
                var elementoB = angular.element(document.querySelector(elementoBlock));
                var elementoAbaAdd = angular.element(document.querySelector(abaAdd));
                var elementoAbaRemove = angular.element(document.querySelector(abaRemove));
                elementoA.removeClass('block');
                elementoA.addClass('none');
                elementoB.removeClass('none');
                elementoB.addClass('block');
                elementoAbaAdd.addClass('active');
                elementoAbaRemove.removeClass('active');
            }
        });
    </script>
</head>
<body ng-app="modelagem">
    <div id="area-de-sistema" style="display: block;" ng-controller="modelagemCtrl">
            <div class="ui segment">
                <div id="area-de-cabecalho" class="ui vertically divided grid">
                    <div class="ten row">
                        <div class="ten wide column">
                            <h3 class="ui dividing header">
                                Prefeitura Municipal de Parnamirim
                            </h3>
                            <p>
                            </p>
                            <div id="area-de-menu-principal" class="ui tiered menu" style="margin-top: -5px">
                                <div id="barra-de-menu-principal" class="menu">
                                    <a id="aba-do-portal-administrativo" class="item active" ng-click="alternarAba('#sessao', '#modulos', '#aba-do-portal-administrativo', '#aba-de-aplicativo');"> <i class="rss icon"></i> Portal Administrativo
        </a>
                                    <a id="aba-de-aplicativo" class="item" ng-click="alternarAba('#modulos', '#sessao', '#aba-de-aplicativo', '#aba-do-portal-administrativo');">{{aplicativo.nome}}</a>
                                    <div class="right menu">
                                        <div class="ui dropdown item">
                                            Julio Costa, Mat. 7500
                                            <i class="dropdown icon">
                                            </i>
                                            <div class="menu">
                                                <a id="botao-de-logout-de-sessao" class="item"><i class="sign out icon"></i>Sair</a>
                                                <a class="item"><i class="warning sign icon"></i> Mudar Senha </a>
                                                <a class="item"><i class="comment icon"></i> Suporte </a>
                                                <i class="dropdown icon">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="modulos" class="ui menu">
                                    <div class="ui dropdown item modulo">
                                        <span contextmenu="secretarias">
                                            <i class="text file icon">
                                            </i>
                                            Secretarias
                                        </span>
                                        <i class="dropdown icon">
                                        </i>
                                        <div id="aplicativos" class="menu barramenuhorizontal" style="margin-top: 1px;">
                                            <a ng-repeat="secretaria in secretarias" ng-click="mudarAbaDeAplicativo(secretaria); alternarAba('#modulos', '#sessao', '#aba-de-aplicativo', '#aba-do-portal-administrativo');"><span class="item sessao itemmenuhorizontal" contextmenu="funcionario">{{secretaria.nome}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="sessao" class="ui sub menu none">
                                    <div class="ui dropdown item">
                                        Cadastro
                                        <i class="icon dropdown">
                                        </i>
                                        <div class="menu">
                                            <a class="item" id="farmacia">Farmacia</a>
                                            <a class="item">Hospital</a>
                                            <a class="item">Clinica</a>
                                        </div>
                                    </div>
                                    <div class="ui dropdown item">
                                        Notificações
                                        <i class="icon dropdown">
                                        </i>
                                        <div class="menu">
                                            <a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
                                            <a class="item"><i class="phone icon"></i> Número: (84)
              3644 8125</a>
                                            <a class="item"><i class="chat icon"></i> Chamar
              on-line</a>
                                        </div>
                                    </div>
                                    <div class="ui dropdown item">
                                        Relatórios
                                        <i class="icon dropdown">
                                        </i>
                                        <div class="menu">
                                            <a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
                                            <a class="item"><i class="phone icon"></i> Número: (84)
              3644 8125</a>
                                            <a class="item"><i class="chat icon"></i> Chamar
              on-line</a>
                                        </div>
                                    </div>
                                    <div class="right menu" id="utilidades">
                                        <a id="formulario" class="ui dropdown item"> <i class="edit icon"></i> Formulário</a>
                                        <a id="listagem" class="item modo-de-exibicao"> <i class="list layout icon"></i>Listagem</a>
                                        <a id="mapa" class="item modo-de-exibicao"> <i class="map icon"></i>Mapa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/semantic.js"></script>
    <script src="js/script.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
</body>
</html>