<div id="sessao" class="ui sub menu none">
	<div class="ui dropdown item" ng-repeat="sec in secretarias"
		ng-show="sec.nome==aplicativo.nome">
		Cadastro
		<i class="icon dropdown"></i>
		<div class="menu">
			<a class="item" ng-repeat="set in sec.setor">
				{{set.nome}}
			</a>
		</div>
	</div>
	<div class="ui dropdown item">
		Notificações <i class="icon dropdown"></i>
		<div class="menu">
			<a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
			<a class="item"><i class="phone icon"></i> Número: (84) 3644 8125</a>
			<a class="item"><i class="chat icon"></i> Chamar
			on-line</a>
		</div>
	</div>
	<div class="ui dropdown item">
		Relatórios <i class="icon dropdown"></i>
		<div class="menu">
			<a class="item"><i class="mail icon"></i> Enviar e-Mail</a>
			<a class="item"><i class="phone icon"></i> Número: (84) 3644 8125</a>
			<a class="item"><i class="chat icon"></i> Chamar on-line</a>
		</div>
	</div>
	<div class="right menu" id="utilidades">
		<a id="formulario" class="ui dropdown item"> <i class="edit icon"></i> Formulário</a>
		<a id="listagem" class="item modo-de-exibicao"> <i class="list layout icon"></i>Listagem</a>
		<a id="mapa" class="item modo-de-exibicao"> <i class="map icon"></i>Mapa</a>
	</div>
</div>