<form id="{{form_name}}" name="{{form_name}}" role="{{form_name}}" ng-repeat="(form_name,segments) in dado" class="ui form hidden" style="display: block;">
	<div class="ui celled grid" id="area-de-cadastro">
	    <div class="row">
	        <div class="three wide column divMenuDados">
	            <div class="ui segiment">
	                <div id="grupo-de-dados" class="ui vertical pointing menu">
	                    <!-- OS SEGMENTOS COMEÇAM AQUI-->
	             		<a ng-repeat="(name,segment_objects) in segments" contextmenu ={{segment_objects["contextmenu"]}} class="item" ng-class="{'active': $index==segment_active}" ng-click='selecionarSegmento(segment_objects["contextmenu"],$index);'>{{name}}</a> 
	                    <!-- OS SEGMENTOS TERMINAM AQUI -->
					</div>
	            </div>
	        </div>
	                                        
	        <!-- BLOCO DE FORMULARIOS COMECAM AQUI -->
	        <div class="twelve wide column">
	            <div ng-repeat="(segment_name,segment_objects) in segments" class="sessao-de-dados" id='{{segment_objects["contextmenu"]}}' ng-class="{hidden: $index !=segment_active }">
					<div class="ui ribbon label" style="margin-bottom: 15px;">
						Sessão de Dados: {{segment_name}}
					</div>
					<fields fields = segment_objects["fields"] ></fields>
	            </div>
	        </div>
			<!-- BLOCO DE  E FORMULARIOS TERMINAM AQUI -->

	    </div>
	</div>
</form>